### Aliases ###

## Tool shortcurts
Ts(){
  if [ $1 ]
  then
    tmux new -s $1
  else
    tmux new
  fi
}
alias ts=Ts
alias s='subl'
Tvim(){
  tmux new "vim $1"
}
alias vim='nvim'
alias tvim=Tvim
alias d='docker'
DockerContainerBash(){
  docker run -v ~/Code:/home/developer/Code -i -t $1 /bin/zsh
}
alias dr=DockerContainerBash
# Git
alias gco='git checkout'
alias gl='git pull origin'
alias glr='git pull --rebase origin'
alias gp='git push origin'
alias amend='git add . && git add -u && git commit --amend'

## Unix commands
alias paux='ps aux | grep'

## Reloads
alias rtmux='tmux source-file ~/.tmux.conf'
alias rzsh='source ~/.zshrc'

## Shortcurts to config files
alias vimrc='vim ~/.vimrc'
alias tmuxrc='vim ~/.tmux.conf'
alias zshrc='vim ~/.zshrc'

##  Ruby-related
# Gems
alias be='bundle exec'
# Rails
alias r='rails'
alias rs='rails server'
alias rc='rails console'
