[core]
	excludesfile = /Users/prietoj/.gitignore_global
	autocrlf = input
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = Jesus Prieto Colomina
	email = chus1818@gmail.com
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
